* {
    font-family: "JetbrainsMono Nerd Font";
    font-size: 15px;
    min-height: 5px;
}

window#waybar {
    background-color: transparent; /* rgba(43, 48, 59, 0.5);*/
    border-bottom: 0px solid rgba(100, 114, 125, 0.5);
    color: #ffffff;
    transition-property: background-color;
    transition-duration: .5s;
}
window#waybar.hidden {
    opacity: 0.2;
}

.modules-left {
    padding:7px;
    margin:10px 0px 5px 10px;
    border-radius:10px;
    background: alpha(#001E23,.6);
    box-shadow: 0px 0px 2px rgba(0, 0, 0, .6);
}
.modules-center {
    padding:0px 11px 0px 7px;
    margin:10px 0px 5px 0px;
    border-radius:10px;
    background: alpha(#001E23,.6);
    box-shadow: 0px 0px 2px rgba(0, 0, 0, .6);
}
.modules-right {
    padding:0px 13px 0px 3px;
    margin: 10px 10px 5px 0px;
    border-radius: 10px;
    background: alpha(#001E23,.6);
    box-shadow: 0px 0px 2px rgba(0, 0, 0, .6);
}

tooltip {
    background: #001E23;
    color: #b4c8be;
}

#clock {
    padding: 0px 5px;
    color: #b4c8be;
    transition: all .3s ease;
}
#clock:hover{
    transition: all .3s ease;
    color: #4D726B;
}

#workspaces {
    padding: 0px 5px;
}
#workspaces button {
    all:unset;
    padding: 0px 5px;
    color: alpha(#C21807,.4);
    transition: all .2s ease;
}
#workspaces button:hover {
    color:rgba(0,0,0,0);
    border: none;
    text-shadow: 0px 0px 1.5px rgba(0, 0, 0, .5);
    transition: all 1s ease;
}
#workspaces button.active {
    color: #C21807;
    border: none;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, .5);
}
#workspaces button.empty {
    color: rgba(0,0,0,0);
    border: none;
    text-shadow: 0px 0px 1.5px rgba(0, 0, 0, .2);
}
#workspaces button.empty:hover {
    color: rgba(0,0,0,0);
    border: none;
    text-shadow: 0px 0px 1.5px rgba(0, 0, 0, .5);
    transition: all 1s ease;
}
#workspaces button.empty.active {
    color: #C21807;
    border: none;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, .5);
}

#bluetooth{
    padding: 0px 5px;
    transition: all .3s ease;
    color: #b4c8be;
}

#network{
    padding: 0px 5px;
    transition: all .3s ease;
    color: #b4c8be;
}

#battery{
    padding: 0px 5px;
    transition: all .3s ease;
    color: #b4c8be;
}
#battery.charging {
    color: #26A65B;
}
#battery.warning:not(.charging) {
    color: #ffbe61;
}
#battery.critical:not(.charging) {
    color: #f53c3c;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#pulseaudio-slider {
  color: #b4c8be;
  min-width: 50px;
}
#pulseaudio-slider slider {
    background-image: none;
    background-color: #b4c8be;
    opacity: 0;
    border: none;
    box-shadow: none;
}
#pulseaudio-slider trough {
    background-color: #080808;
    border: none;
}
#pulseaudio-slider highlight {
    background-color: #2E8B57;
    border: none;
}
